{% extends "./base.html" %} 

{% load static %} 

{% block content %}
<div class="modal" id="boardModal" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create a StoryBoard</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            name="example-text-input"
            id="board_name"
            placeholder="Your board name"
          />
        </div>
        <div class="modal-footer">
          <a
            href="#"
            class="btn btn-link link-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </a>
          <a
            href="#"
            class="btn btn-primary ms-auto"
            data-bs-dismiss="modal"
            onclick="create_board()"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-plus"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 5l0 14"></path>
              <path d="M5 12l14 0"></path>
            </svg>
            Create
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page">
  <!-- Navbar header -->
  <div class="container-xl header_ev">
    <div class="slab">
      <div class="lsab">
        <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
          <a href="{% url 'users:home' %}" class="btn btn_zap w-100">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-arrow-left"
              width="44"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#6A27FF"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l14 0" />
              <path d="M5 12l6 6" />
              <path d="M5 12l6 -6" />
            </svg>
            Back to home
          </a>
        </div>

        <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
          <a href="#" class="btn btn_zap w-100">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-3d-cube-sphere"
              width="44"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#6A27FF"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M6 17.6l-2 -1.1v-2.5" />
              <path d="M4 10v-2.5l2 -1.1" />
              <path d="M10 4.1l2 -1.1l2 1.1" />
              <path d="M18 6.4l2 1.1v2.5" />
              <path d="M20 14v2.5l-2 1.12" />
              <path d="M14 19.9l-2 1.1l-2 -1.1" />
              <path d="M12 12l2 -1.1" />
              <path d="M18 8.6l2 -1.1" />
              <path d="M12 12l0 2.5" />
              <path d="M12 18.5l0 2.5" />
              <path d="M12 12l-2 -1.12" />
              <path d="M6 8.6l-2 -1.1" />
            </svg>
            {{ board_count }} boards
          </a>
        </div>

        <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
          <a href="#" class="btn btn_zap w-100" id="current_date"></a>
        </div>
      </div>

      <div class="rsab">
        <div class="navbar-nav flex-row order-md-last">
          <div class="nav-item d-none d-md-flex me-3">
            <div class="btn-list">
              <!-- add project -->
              <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                <a
                  href="{% url 'app:app_panel' %}"
                  class="btn btn_zap btn-icon w-100"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-plus"
                    width="44"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#6A27FF"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                    <path d="M9 12l6 0" />
                    <path d="M12 9l0 6" />
                  </svg>
                </a>
              </div>

              <div class="nav-item dropdown d-none d-md-flex me-3">
                <a
                  href="#"
                  class="nav-link px-0 btn btn_zap btn-icon w-100"
                  data-bs-toggle="dropdown"
                  tabindex="-1"
                  aria-label="Show notifications"
                  aria-expanded="false"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-bell"
                    width="44"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#6A27FF"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M10 5a2 2 0 1 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"
                    />
                    <path d="M9 17v1a3 3 0 0 0 6 0v-1" />
                  </svg>
                </a>
                <div
                  class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card"
                >
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Last updates</h3>
                    </div>
                    <div
                      class="list-group list-group-flush list-group-hoverable"
                    >
                      <div class="list-group-item">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <span
                              class="status-dot status-dot-animated bg-red d-block"
                            ></span>
                          </div>
                          <div class="col text-truncate">
                            <a href="#" class="text-body d-block"
                              >No notifications!</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="nav-item dropdown">
            <a
              href="#"
              class="nav-link d-flex lh-1 text-reset p-0"
              data-bs-toggle="dropdown"
              aria-label="Open user menu"
            >
              <span
                class="avatar avatar-sm"
                style="
                  background-image: url(https://ui-avatars.com/api/?name={{ user_name }}?format=png);
                "
              ></span>
              <div class="d-none d-xl-block ps-2">
                <div>{{ user_name|capfirst }}</div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <div class="dropdown-divider"></div>
              <a href="{% url 'users:home' %}" class="dropdown-item">Home</a>
              <a href="{% url 'users:logout' %}" class="dropdown-item"
                >Logout</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  `
<!-- main container -->
  <div class="main_cont app_panel">
    <!-- Left panel  -->
    <div class="page-body app_panel_con">
      <div class="container-xl">
        <!-- header navigation Left section-->
        <div class="container-xl">
          <div class="slab">
            <div class="lsab">
              <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                <a
                  href="#"
                  class="btn btn_zap w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#boardModal"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-plus"
                    width="44"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#6A27FF"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                    <path d="M9 12l6 0" />
                    <path d="M12 9l0 6" />
                  </svg>
                  Create New
                </a>
              </div>
            </div>

            <div class="rsab">
              <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                <div
                  href="#"
                  class="btn btn_zap w-100"
                  onclick="delete_all_boards()"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-trash-x"
                    width="44"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#6A27FF"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 7h16" />
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                    <path d="M10 12l4 4m0 -4l-4 4" />
                  </svg>
                  Delete All
                </div>
              </div>

              <!-- Settings -->
              <div class="col-6 col-sm-4 col-md-2 col-xl-auto py-3">
                <div class="btn btn_zap btn-icon w-100">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-settings"
                    width="44"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#6A27FF"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path
                      d="M10.325 4.317c.426 -1.756 2.924 -1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543 -.94 3.31 .826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756 .426 1.756 2.924 0 3.35a1.724 1.724 0 0 0 -1.066 2.573c.94 1.543 -.826 3.31 -2.37 2.37a1.724 1.724 0 0 0 -2.572 1.065c-.426 1.756 -2.924 1.756 -3.35 0a1.724 1.724 0 0 0 -2.573 -1.066c-1.543 .94 -3.31 -.826 -2.37 -2.37a1.724 1.724 0 0 0 -1.065 -2.572c-1.756 -.426 -1.756 -2.924 0 -3.35a1.724 1.724 0 0 0 1.066 -2.573c-.94 -1.543 .826 -3.31 2.37 -2.37c1 .608 2.296 .07 2.572 -1.065z"
                    />
                    <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- All slides here to show  -->
        <div class="row row-cards" id="slides_container">
          {% for user_board in user_boards %}
          <div class="col-md-6 col-lg-3">
            <div class="card m-1 app_p_item">
              <div class="card-body" style="padding: 0">
                {% if user_board.board_image %}
                <span
                  onclick="window.location.href='{% url 'app:dashboard' user_board.board_id %}'"
                  class="avatar bg_m mb-3 rounded"
                  id="slide_image"
                  style="background-image: url({{ user_board.board_image }})"
                ></span>
                {% else %}
                <span
                  onclick="window.location.href='{% url 'app:dashboard' user_board.board_id %}'"
                  class="avatar bg_m mb-3 rounded"
                  id="slide_image"
                  style="background-image: url({ % static 'img/temp.jpg'%})"
                ></span>
                {% endif %}
              </div>

              <div class="d-flex p-8">
                <div class="card_item_bc">
                  <div style="display: flex; align-items: center">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-writing"
                      width="44"
                      height="44"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="#6A27FF"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path
                        d="M20 17v-12c0 -1.121 -.879 -2 -2 -2s-2 .879 -2 2v12l2 2l2 -2z"
                      />
                      <path d="M16 7h4" />
                      <path d="M18 19h-13a2 2 0 1 1 0 -4h4a2 2 0 1 0 0 -4h-3" />
                    </svg>
                  </div>

                  <div class="item_panel_app">
                    <div style="font-weight: 800">
                      {{ user_board.board_name }}
                    </div>
                    <div class="nav-item dropdown d-none d-md-flex me-3">
                      <a
                        href="#"
                        class="nav-link px-0 btn btn_zap btn-icon w-100"
                        data-bs-toggle="dropdown"
                        tabindex="-1"
                        aria-label="Show notifications"
                        aria-expanded="false"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-dots-vertical"
                          width="44"
                          height="44"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="#6A27FF"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                          <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                          <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                        </svg>
                      </a>
                      <div
                        class="dropdown-menu dropdown-menu-arrow dropdown-menu-end dropdown-menu-card"
                      >
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">Options</h3>
                          </div>
                          <div
                            class="list-group list-group-flush list-group-hoverable"
                          >
                            <div class="list-group-item">
                              <div class="row align-items-center">
                                <div class="col-auto">
                                  <span
                                    class="status-dot status-dot-animated bg-red d-block"
                                  ></span>
                                </div>
                                <div class="col text-truncate">
                                  <div
                                    onclick="delete_board(this)"
                                    data-target="{{user_board.board_id}}"
                                    class="text-body d-block"
                                  >
                                    Delete!
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
          <div class="border-top-wide border-primary d-flex flex-column">
            <script src="./dist/js/demo-theme.min.js?1685976846"></script>
            <div class="page page-center">
              <div class="container-tight py-4">
                <div class="empty">
                  <div class="empty-header">Sorry!</div>
                  <p class="empty-title">Nothing to show, Create a board.</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  {%csrf_token%}
</div>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/panel.js' %}"></script>

{% endblock content %}
